<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="style_js/css/bootstrap.css">
    <link rel="stylesheet" href="style_js/css/bootstrap.min.css">
    <script src="style_js/js/bootstrap.min.js"></script>
    <script src="style_js/js/bootstrap.js"></script>

    <meta charset="UTF-8">
    <title>Attestation</title>
</head>
<body>

<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">

    Bootstrap
  </a>
</nav>
<h1>Login</h1>
<h3>{{ message }}</h3>
<form method="post" action="/login">
    <label>Username:</label>
    <input type="text" name="username">
    <br>
    <label>Password:</label>
    <input type="password" name="password">
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>


